/* CSS ESTILO */
/* determinacion de las fuentes*/

/* --------------------- NAVEGACION - MENU --------------- */
header{
	height: 400px;

	align-items: center;
	text-align: center;
	background-image: url('../img/templay992.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

a.nav-link{
	background-color: #1D1F1F;
	opacity: 1;
	text-align: center;
	color: #c6c6c6;
}
.menu{
	opacity: 1;
}

.menu-fixed {
	opacity: 1;
}

#mensajecorto{
	display: none;
}
#seccionvideo{
	position: relative;
	text-align: center;
	top: 0;
	left: 0;

	color: #fff;
	overflow: hidden;
	margin: 0 auto;
	border-left: 2em solid #2E2E2E;
	border-right: 2em solid #2E2E2E;
}


.fullscreen-video {
  position: absolute;
  left: 50%;
  top: 0;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -100;
}