/* CSS ESTILO */


.pagina{
	width: 100%;
}

/* --------------------- PORTADA - HEADER ------------------------ */
header{
	height: 400px;

	align-items: center;
	text-align: center;
	background-image: none;
	background-color: red;
	
}

/* --------------------- NAVEGACION - MENU --------------- */
#menu{
	background-color:#1D1F1F;
	font-family: 'Cinzel', serif;
	color: red;
}

/* --------------------- MENSAJE ------------------------ */
#contenedor{
	height: 200px;
	background-color: #1D1F1F;	
}

#contenedor .marco{
	width: 50%;
	
}

div.contenido{
	float: left;
	padding: 3.3em 0 0 2em;
}

div.imagen{

	height: 200px;
	width: 200px;

	background-image: url('../img/brujula274x232.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	float: right;
}

p.contemsj{
	font-family: Centaur;
	color: #c1c1c1;
	line-height: 0.2em;
	font-size: 1.2em;
}

/* --------------------- FOOTER ------------------------ */
#contenedorfooter{
	height: 200px;
	background-color: #1D1F1F;	
}

#contenedorfooter .marcofooter{
	width: 50%;
	
}

div.contenidofooter{
	float: left;
	padding: 1.7em 0 0 2em;

}

div.redes{
	height: 100%;
	display: flex;
	justify-content: flex-end ;
 	align-items: flex-end;
 	padding: 0px 1em 1em 0px;
 	float: right;
	
}
h5.contemsjfooter{
	line-height: 1em;
	font-size: 2em;
}
p.contemsjfooter{
	font-family: Centaur;
	color: #c1c1c1;
	line-height: 0.1em;
	font-size: 1.2em;
}

img.contemsjfooter{
	font-family: Centaur;
	color: #c1c1c1;
	width:1em; height:1em;
	line-height: 0.1em;
	font-size: 1.2em;
}
/* --------------------- SECCIONES -------------------------*/

#seccionmultimedia{
	height: 400px;
	width: 100%;
	background-color: red;
}

#secciondisenio{
	height: 400px;
	width: 100%;
	background-color: blue;
}

#seccionmultimedia{
	height: 400px;
	width: 100%;
	background-color: red;
}

#seccionproyectosweb{
	height: 400px;
	width: 100%;
	background-color:#1D1F1F;
	padding: 2em;
}
#carouselproyectosweb{
	height: 700px;
	width: 700PX;
}

#seccionapps{
	height: 400px;
	width: 100%;
	background-color:green;
}
#seccionclientes{
	height: 400px;
	width: 100%;
	background-color:white;
	background-image: url('../img/Clientes.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	
}
#seccioncontacto{
	height: 400px;
	width: 100%;
	background-color:black;
}
footer{
	height: 200px;
	width: 100%;
	background-color:grey;
}






