body{
    background-color: black;
    height: 500px;
}
/*------------------------ Menu ----------------------------*/

.listamenu{
    margin: 2em;
}
ul {
  font-family: 'Noto Sans JP', sans-serif;
  font-size:0.9em ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(168, 168, 168);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 25%;

}

/* -------------------- Contenedores -------------------------------*/

p, h1,h2,h3,h4{
    font-family: 'Noto Sans JP', sans-serif;
}
.contenedor{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    
    margin: 2em;
}
.contenedorsimple{
    margin: 0.5em;
    padding: 0em;
    display: flex;
    justify-content: center!important;
 
}
.contenedorsimpleizquierda{
    margin: 0em;
    padding: 0em;
    display: flex;
    justify-content: left;
    
}
.contenedorsinfondo{
    margin: 0.5em;
    padding: 0em;
    display: flex;
    justify-content: center!important;
    
}
/*----------------------- Logos estáticos ---------------------------------*/
.logoplumaestatico{
    width: 40px;
    height: 30%;
    position: relative;
    border: 2px;
    border-color: black;
}

.logomartilloestatico{
    width: 120px;
    height: auto;
    position: relative;
}

.logonombreestatico{
    width: 240px;
    position : relative;
}


/*----------------------- Logos dinamicos ---------------------------------*/
.logopluma{
    left: -1000px;
    width: 60px;
    height: 50%;
    -webkit-transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;
    -moz-transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;
    -o-transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;
    transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;
    
    position: relative;
    transform:translate(1000px,0);
    border: 2px;
    border-color: black;
}

.logomartillo{
    left: 1000px;
    width: 140px;
    height: auto;
    -webkit-transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;
    -moz-transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;
    -o-transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;
    transition: transform 0.5s cubic-bezier(1,.01,0,1.05) 1s;

    position: relative;
    transform:translate(-1000px,0);
}

.logonombre{
   

    top: 2000px;
    width: 280px;
    -webkit-transition: transform 0.5s  cubic-bezier(1,.01,0,1.05) 1s;
    -moz-transition: transform 0.5s  cubic-bezier(1,.01,0,1.05) 1s;
    -o-transition: transform 0.5s  cubic-bezier(1,.01,0,1.05) 1s;
    transition: transform 0.5s  cubic-bezier(1,.01,0,1.05) 1s;

    position : relative;
    transform: translate(0,-2000px);
}

.videojuegos{
    background-color: black!important;
    color : rgb(255, 231, 16)!important;
    opacity: 1;
}

.final{
    background-color: rgb(238, 238, 238);
    color: rgb(36, 36, 36);
    
}
.espacioarriba{
    padding-top: 2em;
    margin-bottom: 0em;
}

.espacioabajo{
    padding-bottom: 2em;
}
#direccion{
    height: 200px;
}
/* ---------------------------- Linea con efecto -------------*/
.bordelinea{

    display: flex;
    justify-content: center;
    
    -webkit-box-shadow: 1px 3px 43px 20px  rgba(201, 0, 64, 0.76);
    -moz-box-shadow: 1px 3px 43px 20px  rgba(201, 0, 64, 0.76);
    -o-box-shadow: 1px 3px 43px 20px rgba(201, 0, 64, 0.76);
    box-shadow: 1px 3px 43px 40px rgba(201, 0, 64, 0.75);
   
    -webkit-transition  : box-shadow 3s cubic-bezier(1,.01,0,1.05) 0.5s;
    -moz-transition     : box-shadow 3s cubic-bezier(1,.01,0,1.05) 0.5s;
    -o-transition       : box-shadow 3s cubic-bezier(1,.01,0,1.05) 0.5s;
    transition          : box-shadow 3s cubic-bezier(1,.01,0,1.05) 0.5s;

    animation-name: luzefecto;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes luzefecto{

    0%{
    -webkit-box-shadow: 1px 3px 43px 20px  rgba(255, 0, 0, 1);
    -moz-box-shadow: 1px 3px 43px 20px  rgba(255, 0, 0, 1);
    -o-box-shadow: 1px 3px 43px 20px rgba(255, 0, 0, 1);
    box-shadow: 1px 3px 43px 20px rgba(255, 0, 0,1);
    } 

    100%{
    -webkit-box-shadow: 1px 3px 43px 20px  rgba(206, 206, 206, 0.5);
    -moz-box-shadow: 1px 3px 43px 20px  rgba(206, 206, 206, 0.5);
    -o-box-shadow: 1px 3px 43px 20px rgba(206, 206, 206, 0.5);
    box-shadow: 1px 1px 7px 10px rgba(206, 206, 206, 0.5);

    }
    
}

/* ------------------------------- Texto Proyectos-------------------------*/
.proyecto{
    color: rgb(255,0,0,0.85);
}
/* ------------------------------- Texto -------------------------*/
.titulo{
    
    -webkit-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -moz-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -o-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s;

    color: rgb(255,0,0,0.85);
    padding: 1em;
    text-align: center;
}


p.explicacion{
    -webkit-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    -moz-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    -o-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3s;

    color: rgba(230, 230, 230, 0.7);
    margin: 1em;
}

.textoweb{
    font-size: 0.8em;
    color: rgba(43, 43, 43, 0.7);
}
.textoarea{
    margin: 2em;
    color: rgba(230, 230, 230, 0.7);
}


/*------------------------- Canvas para particulas ----------------*/

canvas {
    
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: -10;
    top: 200;
    left: 0;
}

/*----------------------------- Sección Contacto ---------------------*/

.contenedorcontacto{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(255,255,255,1);

}
.seccioncontacto{
    top:110px;
    background-color: rgba(255,255,255,1);
    margin: 2em;
}

.blue-grey.darken-1{
    opacity: 0.6;
}

.seccioncontacto .card.horizontal{
    background-color: rgb(255,255,255);
    color : rgba(41, 41, 41, 0.945);

}

.seccioncontacto .card-action{
    background-color: black;
    color : rgb(255,255,255);
}

.seccioncontacto .header{
    background-color: black;
    color : rgb(133, 207, 139);
}

.tarjeta{
   
    background-color: rgb(255,255,255)!important;
}

.imagenmia{
 
    border-radius: 127px 0px 200px 0px!important;
    -moz-border-radius: 127px 0px 200px 0px!important;
    -webkit-border-radius: 127px 0px 200px 0px!important;
    border: 2px solid #73AD21!important;
    padding: 10px;
    width: 50%!important;
    height: auto;

}

.contenedorimagen{

    text-align: -moz-center!important;
    text-align: -webkit-center!important;
    text-align: center!important;
    align-self: center!important;
}

.seccioncontacto .card-content{
  font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9em;
}

.acercade{
    background-color: rgb(255,255,255)!important;
    color: rgb(41, 41, 41)!important;

}
/* .iconoarriba{
    visibility: hidden;
   
} */

.soluciones{
    background-color: rgb(255,255,255)!important;
    opacity: 0;
}

.centrado{
    text-align: center;
}
.lineacard{
    border-color: darkgoldenrod;
    
}
/*--------------------------- Media Query --------------------------------*/



@media (max-width: 2000px) {


}

@media (max-width:  768px) {

  #c{
        width:40%!important;
        height: auto;
    }
}

@media (min-width:  200px) and (max-width: 668px) { 

    /*----------------------- Logos estáticos ---------------------------------*/
    .logoplumaestatico{
        width: 30px;
        height: 20%;
        position: relative;
        border: 2px;
        border-color: black;
    }

    .logomartilloestatico{
        width: 100px;
        height: auto;
        position: relative;
    }

    .logonombreestatico{
        width: 220px;
        position : relative;
        
    }


    .logopluma{
        width: 40px;
        height: 35%;
    }
    .logomartillo{
        width: 80px;
    }

    .logonombre{
        width: 70%;

    }
    
    li {
        float: left;
    }

    li a {
    display:inline-flex;
    color: rgb(168, 168, 168);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    
    }



    #c{
        width:40%!important;
        height: auto;
    }
}
