/* CSS ESTILO */
/* determinacion de las fuentes*/

/* --------------------- NAVEGACION - MENU --------------- */
header{
	height: 200px;

	align-items: center;
	text-align: center;
	background-image: url('../img/templay300.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #1D1F1F;
}

a.nav-link{
	background-color: #1D1F1F;
	opacity: 1;
	text-align: center;
	color: #c6c6c6;
}
.menu{
	opacity: 1;
}
.menu-fixed {
	opacity: 1;
}
p.contemsj{
	display: none;

}

#mensajecorto{
	display: block;
	font-family: Centaur;
	color: #c6c6c6;
	line-height: 0.5em;
	font-size: 1em;
	padding-left: 1em;
}

h2.contemsj{
	font-family: Centaur;
	color: #c6c6c6;
	line-height: 1em;
	font-size: 1.5em;
}

#seccionvideo{
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	height: 230px;
	width:auto;
	color: #fff;
	overflow: hidden;
	margin: 0 auto;
	border-left: 0em solid #2E2E2E;
	border-right: 0em solid #2E2E2E;
}


.fullscreen-video {
  position: absolute;
  left: 50%;
  top: 0;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -100;
}