/* CSS ESTILO */
/* determinacion de las fuentes*/

/* --------------------- PORTADA - HEADER ------------------------ */
header{
	height: 400px;

	align-items: center;
	text-align: center;
	background-image: url('../img/templay1366.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #1D1F1F;
}

/* --------------------- NAVEGACION - MENU --------------- */
#menu{
	font-family: 'Cinzel', serif;
	color: #c6c6c6;

}

/* --------------------- MENSAJE ------------------------ */
#contenedor{
	height: 200px;
	background-color: #1D1F1F;	
}

#contenedor .marco{
	width: 50%;
	
}

div.contenido{
	float: left;
	padding: 3.4em 0 0 2em;
}

div.imagen{

	height: 200px;
	width: 200px;

	background-image: url('../img/brujula.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	float: right;
}

p.contemsj{
	font-family: Centaur;
	color: #c6c6c6;
	line-height: 0.2em;
	font-size: 1.3em;
}
#mensajecorto{
	display: none;
}

/* --------------------- FOOTER ------------------------ */
#contenedorfooter{
	height: 200px;
	background-color: #1D1F1F;	
}

#contenedorfooter .marcofooter{
	width: 50%; /*distribuye el espacio de los div en el marco*/
	
}

div.contenidofooter{
	float: left;
	padding: 1.7em 0 0 2em;

}

div.redes{
	height: 100%;
	display: flex;
	justify-content: flex-end ;
 	align-items: flex-end;
 	padding: 0px 1em 1em 0px;
 	float: right;
	
}
h5.contemsjfooter{
	line-height: 1em;
	font-size: 2em;
}
p.contemsjfooter{
	font-family: Centaur;
	color: #c6c6c6;
	line-height: 0.1em;
	font-size: 1.2em;
}


img.contemsjfooter{
	font-family: Centaur;
	color: #c6c6c6;
	width:1em; height:1em;
	line-height: 0.1em;
	font-size: 1.2em;
}
/* --------------------- SECCIONES -------------------------*/

#seccionclientes{

	background-color:white;
	/*background-image: url('../img/Clientes.png');*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	
}
#seccioncontacto{

	background-color:black;
}
footer{
	height: 200px;
	width: 100%;
	background-color:#2E2E2E;
}

#seccionvideo{
	position: relative;
	text-align: center;
	top: 0;
	left: 0;
	
	color: #fff;
	overflow: hidden;
	margin: 0 auto;
	border-left: 11em solid #2E2E2E;
	border-right: 11em solid #2E2E2E;
}


.fullscreen-video {
  position: absolute;
  left: 50%;
  top: 0;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -100;
}