/* CSS ESTILO */
/* determinacion de las fuentes*/
@font-face{
    font-family:<Centaur>;
    src: url(<fonts/centaur.ttf>);
}

body{
	background-color: #1D1F1F;
	margin: 0; padding: 0;
	font-family: Centaur;
	color: #c6c6c6;
	line-height: 20px;
	font-size: 15px;
	width: 100%;
}

html{
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: flex;
}

div>p{
	color: #c6c6c6;
}

a.nav-link {
	color: #c6c6c6;
	font-size: 1.1em;
	text-align: center;
}

a.nav-link:hover {
	color: red;
	text-align: center;

}

div>a{
	color: #c6c6c6;
}

p:hover{
	color: white;
}

section>h4{
	font-family: 'Cinzel', serif;
	color: #c6c6c6;
	margin: 0.9em;
	font-size: 1.1em;
}
.navbar-toggler-icon {
  background-image: url("../img/icotemplay.png");
}
.textosencabezados{
	font-family: 'Cinzel', serif;
	color: #c6c6c6;
	padding-top: 0.9em;
	margin: 0.9em;
	font-size: 1.1em;

	border-top: 1px solid;
	border-color: grey;
}

/* --------------------- NAVEGACION - MENU --------------- */
#menu{ /*hace referencia al id menu*/
	background-color:#1D1F1F;
	font-family: 'Cinzel', serif;
	color: red;
}

.menu{ /*hace referencia a la clase menu*/

	z-index:1000;
	top:0;
	left:0;	
	width: 100%;
	height: 51px;
	font-family: 'Cinzel', serif;
	color: #c6c6c6;
	background-color: #1D1F1F;
}
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	left:0;	
	width: 100%;
	height: 51px;
	font-family: 'Cinzel', serif;
	background-color: #1D1F1F;
	opacity: 0.9;
}

/* --------------------- MENSAJE ------------------------ */

#contenedor .marco{background-repeat: no-repeat;}


/* --------------------- ACORDEONES -------------------------*/

div.accordion{
	font-size: 1.2em;
}

/* --------------------- BOTONES BOOSTRAP -------------------------*/

button.btn{
	font-size: 0.7em;
	color: #A4A4A4;

}

/* --------------------- CARDS BOOSTRAP -------------------------*/

div.card{ /*cara de la tarjeta*/
	/*background-color: #B40404;*/
	color: #A4A4A4;
}

div.card-body{ /*interior de la tarjeta*/
	background-color: #1D1F1F;
}
/* --------------------- CONTACTOS -------------------------*/

.contacto{
	background-color: #1D1F1F;
	line-height: 1.2em;
	font-size: 1.3em;
}


#seccioncontacto.container{
	background-color: #1D1F1F;
	padding-top: 2em;
}

#contenedorclientes{
	background-color: white;
}