
html,
body {
  font-size: 16px;
  font-family: 'Kulim Park', sans-serif;
  color: #2E2E2E;

  height: 100%;

}
/* --------------------- Barra de navegacion --------------- */
.nav {
    width: 100%;
}
a.nav-link {
  color: rgb(105, 105, 105)!important;
  text-align: right;
  background-color:#fff159 ;
  font-size: 14px;

}

#seccionbusqueda{
  background-color:#fff159 ;
}
.menu{
  margin-top: 60px;
  width: 100%;
  background-color:#fff159 ;
}

#telefono_en_barra{
  color: rgb(105, 105, 105)!important;
  font-family: 'Kulim Park', sans-serif;
  font-size: 14px;

}
/* ----------------------------------------------------------------- */

p{
  font-family: 'Kulim Park', sans-serif;

   font-size: 18px;
}

#slogan{
   font-size: 18px;
}

#logoinstagram{
  width: 45%;
}

#logofacebook{
  width: 45%;
}

#seccionnovedades{

  background-color: rgb(235, 235, 235);
  opacity: 95%;

}

/* ---------------------------Imagen fondo superior------------------------  */

#seccionlocal{
  z-index: -3;
  padding-top: 3em;
}
#seccionlogolocal{
  z-index: -2;
  padding-top: 12em;
 
}
 /* ---------------------------Parte transparente------------------------  */
#seccioncontenidos{
  opacity: 0;
  z-index: -1;
}

/* ---------------------------------------------------------------------------- */
#seccionfotoslocal{
  background-color: rgb(235, 235, 235);
  opacity: 95%;

}

.claseseccionnovedades{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

#seccionutilidad{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

.seccioncategoria{
  padding: 1em;
  background-color:  rgb(235, 235, 235);
  opacity: 0.95;

}

#seccionnovedades{

}

#seccionbuscados{

}

#divpromociones{
  height: 3em;
  color: white!important;
  background-color: #24b3a7!important;
}

#seccionpromociones{

}


#subcontenedorcontacto{

  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color:   rgb(235, 235, 235);
}

#seccioncontacto{

 
  opacity: 95%;
}

#enviar{
  color: white!important;
  background-color: #24b3a7!important;
}
#seccionubicacion{
    margin-top: 30px;
}

#seccionubicacion>h5{
  color: rgb(105, 105, 105)!important;
}


hr{
  border-color: #fff159;
}

/* ---------- configuracion de las cartas -----------------*/
.card-text{
  color: rgb(105, 105, 105)!important;
  size: 16px;
}
.card{
  background-color: white;
  color: rgb(105, 105, 105)!important;
  size: 16px;
}
.carta{
  color:#686c4b;
}
.card-body{
  background-color: #e8f5e9    ;
  padding: 1rem;
}

.card-title{
  color: rgb(105, 105, 105)!important;
}

.describir{
  background-color:#24b3a7;
  color: 3f3f3f;
}
.describir:hover{
  background-color:grey;
  color: 3f3f3f;
}
/* --------------------------------------------------------*/
.footer {

  font-family: 'Kulim Park', sans-serif;
  background-color: #fff159 ;
  color: rgb(105, 105, 105)!important;
}

.footer > div.container {
  padding: 30px;
}

.slidecontainer {
  width: 100%;
}

/* -------------------- Media Queries ------------------------------- */
 @media (min-width:  769px) and (max-width: 2000px) {

    #seccioncontenidos{
      height: 30em!important;

    }
  }

  @media (max-width:  768px) {

    #seccioncontenidos{
      height: 18em;
    }
  }

  @media (min-width:  300px) and (max-width: 575px) {
    #fondo{
      visibility: hidden;
    }

    #seccionlocal{
      z-index: -3;
      padding-top: 3em;
    }

    #seccionlogolocal{
      z-index: -2;
      padding-top: 12em;
    }

    #seccioncontenidos{
      height: 20em;
    }
    
    #seccionlocal{
      z-index: -1;
      padding-top: 8em;
    }
}