
html,
body {
  font-size: 18px;
  font-family: 'Kulim Park', sans-serif;
  color: #2E2E2E;

  height: 100%;

}
/* --------------------- Barra de navegacion --------------- */
.nav {
    width: 100%;
}
a.nav-link {
  color: white;
  text-align: right;
  background-color:#415d9b ;
}

#seccionbusqueda{
  background-color:#415d9b ;
}
.menu{
  margin-top: 65px;
  width: 100%;
  background-color:#415d9b ;
}

#telefono_en_barra{
  color:#ffffff!important;
  font-family: 'Kulim Park', sans-serif;

}
/* ----------------------------------------------------------------- */

p{
  font-family: 'Kulim Park', sans-serif;

   font-size: 18px;
}


#seccionnovedades{

  background-color: rgb(235, 235, 235);
  opacity: 95%;

}

/* ---------------------------Imagen fondo superior------------------------  */

#seccionlocal{
  z-index: -3;
  padding-top: 3em;
}
#seccionlogolocal{
  z-index: -2;
  padding-top: 12em;
 
}
 /* ---------------------------Parte transparente------------------------  */
#seccioncontenidos{
  opacity: 0;
  z-index: -1;
}

/* ---------------------------------------------------------------------------- */
#seccionfotoslocal{
  background-color: rgb(235, 235, 235);
  opacity: 95%;

}

.claseseccionnovedades{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

#seccionutilidad{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

.seccioncategoria{
  padding: 1em;
  background-color:  rgb(235, 235, 235);
  opacity: 0.95;

}

#seccionnovedades{

}

#seccionbuscados{

}

#seccionpromociones{

}

#subcontenedorcontacto{

  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color:   rgb(235, 235, 235);
}

#seccioncontacto{

 
  opacity: 95%;
}
#seccionubicacion{
    margin-top: 30px;
}

#seccionubicacion>h5{
  color: #2E2E2E;
}


hr{
  border-color: #ABA262;
}

/* ---------- configuracion de las cartas -----------------*/
.card-text{
  color:#424242;
  size: 16px;
}
.card{
  background-color: white;
  color:#424242;
  size: 16px;
}
.carta{
  color:#686c4b;
}
.card-body{
  background-color: #e8f5e9    ;
  padding: 1rem;
}

.card-title{
  color: #086A87;
}

.describir{
  background-color:#086A87;
  color: white;
}
.describir:hover{
  background-color:grey;
  color: white;
}
/* --------------------------------------------------------*/
.footer {

  font-family: Rancho-Regular;
  background-color: #ef9a9a ;
  color: black;
}

.footer > div.container {
  padding: 30px;
}

.slidecontainer {
  width: 100%;
}

/* -------------------- Media Queries ------------------------------- */
 @media (min-width:  769px) and (max-width: 2000px) {

    #seccioncontenidos{
      height: 30em!important;

    }
  }

  @media (max-width:  768px) {

    #seccioncontenidos{
      height: 18em;
    }
  }

  @media (min-width:  300px) and (max-width: 575px) {
    /* #fondo{
      visibility: hidden;
    } */
    #seccionlogolocal{
      z-index: -2;
      padding-top: 5em;
    }

    #seccioncontenidos{
      height: 20em;
    }
    
    #seccionlocal{
      z-index: -1;
      padding-top: 8em;
    }
}