.firstcharacter {
  color: #903;
  float: left;
  font-family: 'Oswald',sans-serif;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.nav-item{

  background-color: white!important;
}

/* decora el titulo
y el color de la fila */
.tituloconfondo{
  color: white;
}
.filafondo{
  background-color: #009ee3!important;
}

/* ----------------------------- */
.row{
  margin-bottom: 10px!important;
}

p.textoexplicativo{
  
  font-family: 'Oswald', sans-serif;
  

  font-size: 10px!important;
  color: #424242!important;
}

#titulotarjeta{
  font-size: 1.1em;
}

#descripciontarjeta{
  font-size: 0.9em;
}

.material-icons.md-18 { font-size: 18px; }
.masmenos{ width: 3em!important; height: 3em!important;}
.columnadedos{ width: 2em!important;}
.columnadetres{ width: 3em!important;}
.columnadecuatro{ width: 4em!important;}
.masmenoscolumna{ width: 3em!important;}
.titulocolumna{ width: 3em!important;}
.descripcioncolumna{ width: 4em!important;}
.imagencolumna{ width: 4em!important;}


.modal{
  height: 50%!important;
}
.parallax-container {
    height: 200px;
  }

#seccionlocal{
  z-index: -1;
  padding-top: 5em;
}


.blanca-container {
    height: 400px;
  }


.sub-titulo-principal{
    
  font-family: 'Kulim Park', sans-serif;


    color:rgb(170, 159, 159);
  }
.subtitulo-parallax{

  font-family: 'Kulim Park', sans-serif;

    
    color:#E6E6E6;
    text-shadow: -2px 2px 45px rgba(0,0,0,0.6), -2px 0px 4px rgba(255,255,255,0.6);
    
}
.letranavbar{
    
  font-family: 'Kulim Park', sans-serif;



    color:#E6E6E6;
}
  
.colorletras{
  color: black;
  font-size: 15px;
}

.colorletrasresaltado{
  color: red;
  font-size: 15px;
}

.datepicker{
  background-color: rgb(236, 236, 236)!important;
  font-size: 1.15em!important;
}

.extradescripcion{
  font-size: 85%;
}

#logojt{

  width: 35px;
}
.coleccion {
  width: 200px;
}

.tamaimagen{ width: auto; height: 180px; }

.titulo{  font-weight: bold; font-size: 17px; }

.textos{ font-size: 14px;}

.marcosblancos{ background-color: white !important; }

#barraiconos{  margin-top: 100px; }

#tseccion6{  background-color:   rgb(207, 207, 207);  opacity: 90%; }



.iconito{
  width: 100%;
  height: 100%;
  
  -webkit-transition-property: width; /* Safari */
  -webkit-transition-duration: 0.5s; /* Safari */

  transition-property: width;
  transition-duration: 0.5s;
  
}
.iconito:hover{ 
   width:110%;
}

#collapseOne {
  border-top: 5px solid rgb(73, 47, 47);
}


/* ----------------------------------- Estilos en Ventas -------------------------- */

.cabecera{
  background-color:rgb(166, 197, 197);
  
}
/* ----------------------------------- Estilos en Caja -------------------------- */

.notapedido{
  background-color: rgb(198, 214, 214);
}
/* ---------------------------------------------------------------------------- */

  @media (max-width: 2000px) {

    #seccioncontenidos{
      height: 22em!important;
  
    }
  }



  @media (max-width:  768px) {
  
    #seccioncontenidos{
    height: 13em;
  
    }
    #my-nav{
    background-color: aliceblue;
  
    }

    #listamenuderecha
    {
      background-color:#fdd835 ;  
      width: 100%!important;
    }
  }

  @media (min-width:  300px) and (max-width: 575px) { 

    #listamenuderecha{
      background-color:#fdd835 ;  
      width: 100%!important;

    }
    #fondo{
      visibility: hidden;
    }
    #seccioncontenidos{
    height: 6em;
  
    }
    #my-nav{
    background-color: aliceblue;
  
  }
}
