
html,
body {
  font-size: 16px;
  font-family: 'Kulim Park', sans-serif;
  color: #2E2E2E;
  height: 100%;
  /* background-color: #2E9AFE; */
}
/* --------------------- Barra de navegacion --------------- */

.card.large .card-image + .card-content
{
  max-height: 70%!important;
}


.textoenbarra {
  color: rgb(105, 105, 105)!important;
  background-color:#fff159 ;
}

#tituloweb{
  color: rgb(105, 105, 105)!important;
}

.navbar-brand{
  color: #2E2E2E;
}

nav a {
    color: #2E2E2E!important;
}
.nav{
  background-color:#fff159 ;

}
#seccionbusqueda{
  background-color:#fff159 ;
}
.menu{

  background-color:#fff159 ;
}

#telefono_en_barra{
  color: rgb(105, 105, 105)!important;
  

  font-family: 'Kulim Park', sans-serif;

  font-size: 14px;
}

.icosabermas{
  color: rgb(2, 77, 121);
}

.icosugerencias{
  color: rgb(2, 121, 62);

}

.row{
  margin-bottom: 10px!important;
  
}
/* ------------------------TARJETAS DE PUBLICACION ----------------------------- */



#titulotarjeta{
  font-size: 1.1em;
  color: rgb(26, 26, 26);
}
#cajabusqueda{
 background-color:white;
}

.contenedorbusqueda{
 background-color: rgb(238, 238, 238);

}
#botoncarrito{
  line-height: 0.9em;
}

#descripciontarjeta{
  font-size: 0.9em;
}

#tarjetaimagen
{
  display: flex;
  justify-content: center;
}
.preciotarjeta{
  font-size: 1.2em;
  color: red!important;
  font-weight: bold;
}
.preciotarjetaconsultar{
  font-size: 0.9em;
  color: rgb(97, 52, 156)!important;
  font-weight: bold;
}
.filapreciotarjeta{
 background-color:white!important;
}

.precioventaja{
  font-size: 0.9em;
  color: grey!important;
}
.tituloventaja{
  font-size: 0.9em;
  color: rgb(158, 158, 158)!important;

}

.valorbonus{
  font-size: 0.8em;
  color: rgb(60, 69, 146)!important;
}
/* ------------------------------------------------------------- */
p{
  font-family: 'Kulim Park', sans-serif;

   font-size: 18px;
}
li.active{
  background-color:#fff159!important;

}
#slogan{
   font-size: 18px;
   padding-top: 1em;
}

#logoinstagram{
  background-color:#fff159 ;

}

#logofacebook{
  background-color:#fff159 ;

}
#containercategoria{
  background-color:#fff159!important ;

}
#seccionbuscados{
  background-color:#fff159 ;

}

#declaracion{
  margin-top: 0em!important;
  margin-bottom: 0em!important;
}
/* ---------------------------Imagen fondo superior------------------------  */

#seccionpublicidad{

}

.claseseccionnovedades{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

#seccionutilidad{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

.seccioncategoria{
  padding: 1em;
  background-color:  rgb(235, 235, 235);
  opacity: 0.95;

}

#seccionbuscadosbuscador{
  position: relative;
  
}

#seccionpromociones{
  
  position: relative;
  
}

#seccionnovedades{
  
  position: relative;
  background-color: rgb(235, 235, 235);
  opacity: 95%;

}

#secciongaleria{
  
  position: relative;

}
#divpromociones{
  height: 3em;
  color: white!important;
  background-color: #24b3a7!important;
}

#divgaleria{
  height: 3em;
  color: white!important;
  background-color: #24b3a7!important;
}


#seccioncontacto{
  opacity: 95%;
  position: relative!important;
}


#subcontenedorcontacto{

  padding: 2%;
  background-color:   rgb(255, 255, 255);
  /* position: relative; */

}

#seccionubicacion
{
  position: relative;

}



#enviar{
  color: black!important;
  background-color: #ffa726!important;
}
#seccionubicacion{
    margin-top: 30px;
}

#seccionubicacion>h5{
  color: rgb(105, 105, 105)!important;
}


hr{
  border-color: #fff159;
}

/* ---------- configuracion de las cartas -----------------*/
.card-text{
  color: rgb(105, 105, 105)!important;
  size: 16px;
}
.card{
  background-color: white;
  color: rgb(105, 105, 105)!important;
  size: 16px;
}


.carta{
  color:#686c4b;
}
.card-body{
  background-color: #e8f5e9    ;
  padding: 1rem;
}

/* --------------------------------------------------------*/
.footer {

  font-family: 'Kulim Park', sans-serif;
 

  background-color: #fff159 ;
  color: rgb(105, 105, 105)!important;
}

.footer > div.container {
  padding: 30px;
}

.slidecontainer {
  width: 100%;
}

/* -------------------- Media Queries ------------------------------- */
 @media (min-width:  1253px) {

    .tamaimagen{ 
      height: 200px; 
      width: auto!important;

      padding-top: 1em;
    }
  }

 @media (min-width:  576px) and (max-width: 1252px)
{
    .tamaimagen{ 
      height: 180px!important; 
      padding-top: 1em;
      width: auto!important;
    }
}

  @media (min-width:  300px) and (max-width: 575px) {
  
   
}