
html,
body {
  font-size: 16px;
  font-family: 'Kulim Park', sans-serif;
  color: #2E2E2E;
  height: 100%;
  /* background-color: #2E9AFE; */
}
/* --------------------- Barra de navegacion --------------- */

.tamaimagen{ 
    height: 200px; 
    width: auto!important;
    padding-top: 1em;
  }
  

.slider .slides {
  background-color: transparent;
  margin: 0;
}

.slider .slides li img {
  height: 100%!important;
  width: 100%!important;
  background-position: center!important;
  background-size:100% auto!important;
  background-repeat: no-repeat!important;
}

.card.large .card-image + .card-content
{
max-height: 70%!important;
}

.card.large 
{
  height: 500px;
}

.input-field{
margin-top: 0em!important;
margin-bottom: 0em!important;
margin-right: 1em;
}

.select-wrapper input.select-dropdown{
display: inline!important;
}

.content li>span
{
  font-size: 0.8em;
}

.select-dropdown{
  text-align: center;
}

.textoenbarra {
  color: rgb(105, 105, 105)!important;
  background-color:#fff159 ;
}

#tituloweb{
  color: rgb(105, 105, 105)!important;
}

.navbar-brand{
  color: #2E2E2E;
}

nav a {
    color: #2E2E2E!important;
}
.nav{
  background-color:#fff159 ;

}
#seccionbusqueda{
  background-color:#fff159 ;
}
.menu{

  background-color:#fff159 ;
}

#telefono_en_barra{
  color: rgb(105, 105, 105)!important;
  

  font-family: 'Kulim Park', sans-serif;

  font-size: 14px;
}

.icosabermas{
  color: rgb(2, 77, 121);
}

.icosugerencias{
  color: rgb(2, 121, 62);

}


/* ------------------------TARJETAS DE PUBLICACION ----------------------------- */



#titulotarjeta{
  font-size: 0.8em;
  color: rgb(26, 26, 26);
}
#cajabusqueda{
 background-color:white;
}

.contenedorbusqueda{
 background-color: rgb(238, 238, 238);

}
#botoncarrito{
  line-height: 0.9em;
}

#descripciontarjeta{
  font-size: 0.9em;
}

#tarjetaimagen
{
  display: flex;
  justify-content: center;
}
.preciotarjeta{
  font-size: 1.2em;
  color: red!important;
  font-weight: bold;
}
.preciotarjetaconsultar{
  font-size: 0.9em;
  color: rgb(97, 52, 156)!important;
  font-weight: bold;
}
.filapreciotarjeta{
 background-color:white!important;
}

.filamercado{
  background-color: #009ee3!important;
}

.textofilamercado
{
  color: #ffffff!important;
}


.precioventaja{
  font-size: 0.9em;
  color: grey!important;
}
.tituloventaja{
  font-size: 0.9em;
  color: rgb(158, 158, 158)!important;

}

.valorbonus{
  font-size: 0.8em;
  color: rgb(60, 69, 146)!important;
}

.enlaceespecial{
  font-size: 0.8em;
  color:#009ee3!important;
}
/* ------------------------------------------------------------- */
p{
  font-family: 'Kulim Park', sans-serif;

   font-size: 18px;
}
li.active{
  background-color:#fff159!important;

}
#slogan{
   font-size: 18px;
   padding-top: 1em;
}

#logoinstagram{
  background-color:#fff159 ;

}

#logofacebook{
  background-color:#fff159 ;

}
#containercategoria{
  background-color:#fff159!important ;
}

#containercategoria>.row{
  margin-bottom: 0em!important;
}
/* #seccionbuscados{
  background-color:#fff159 ;

} */

#declaracion{
  margin-top: 0em!important;
  margin-bottom: 0em!important;
}

#opcionesconprecio{
  font-size: 0.5em;
  color: #2E2E2E;

}

.claseseccionnovedades{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

#seccionutilidad{
  background-color:  rgb(235, 235, 235);
  opacity: 95%;

}

.seccioncategoria{
  padding: 1em;
  background-color:  rgb(235, 235, 235);
  opacity: 0.95;

}

#seccionbuscadosbuscador{
  position: relative;
  
}

#seccionpromociones{
  
  position: relative;
  
}

#seccionnovedades{
  
  position: relative;
  background-color: rgb(235, 235, 235);
  opacity: 95%;

}

#secciongaleria{
  
  position: relative;

}
#divpromociones{
  height: 3em;
  color: white!important;
  background-color: #24b3a7!important;
}

#divgaleria{
  height: 3em;
  color: white!important;
  background-color: #24b3a7!important;
}


#seccioncontacto{
  opacity: 95%;
  position: relative!important;
}


#subcontenedorcontacto{

  padding: 2%;
  background-color:   rgb(255, 255, 255);
  /* position: relative; */

}

#seccionubicacion
{
  position: relative;

}



#enviar{
  color: black!important;
  background-color: #ffa726!important;
}
#seccionubicacion{
    margin-top: 30px;
}

#seccionubicacion>h5{
  color: rgb(105, 105, 105)!important;
}


hr{
  border-color: #fff159;
}

/* ---------- configuracion de las cartas -----------------*/
.card-text{
  color: rgb(105, 105, 105)!important;
  size: 16px;
}
.card{
  background-color: white;
  color: rgb(105, 105, 105)!important;
  size: 16px;
}


.carta{
  color:#686c4b;
}
.card-body{
  background-color: #e8f5e9    ;
  padding: 1rem;
}

/* --------------------------------------------------------*/
.footer {

  font-family: 'Kulim Park', sans-serif;
 

  background-color: #fff159 ;
  color: rgb(105, 105, 105)!important;
}

.footer > div.container {
  padding: 30px;
}

.slidecontainer {
  width: 100%;
}

/* -------------------- Media Queries ------------------------------- */
 @media (min-width:  1041px){

     .card.large 
  {
    height: 550px!important;
  }

    .tamaimagen{ 
      height: 200px; 
      width: auto!important;
      padding-top: 1em;
    }

   .slider {
    height: 480px!important;
     resize: vertical;
   }
   .slides {
    height: 440px!important;
     resize: vertical;
   }
 }

 @media (min-width:  993px)  and (max-width: 1040px){

    .card.large 
  {
    height: 550px!important;
  }

    .tamaimagen{ 
      height: 200px; 
      width: auto!important;
      padding-top: 1em;
    }

    .slider {
    height: 480px!important;
      resize: vertical;
    }
    .slides {
    height: 440px!important;
      resize: vertical;
    }

    .nav-wrapper{
      text-align: right!important;
    }
    #nav-mobile{
    position: absolute!important;
    top: 0em!important;
    }
    #tituloweb{
      margin-right: 0.5em;
    }
    #menunegocio{
      margin: 10px 5px 0px 5px!important;
    }
}

 @media (min-width:  576px) and (max-width: 992px)
{
  .card.large 
  {
    height: 450px!important;
  }

    .tamaimagen{ 
      height: 180px!important; 
      padding-top: 1em;
      width: auto!important;
    }
    
    .slider {
      height: 350px!important;
       resize: vertical;
    }
    .slides {
      height: 350px!important;
       resize: vertical;
    }
  
}

@media (min-width:  451px) and (max-width: 575px) 
{

  .card.large 
  {
    height: 450px!important;
  }

  .tamaimagen{ 
      height: 200px!important; 
      padding-top: 1em;
      width: auto!important;
    }

  .slider {
    height: 220px!important;
     resize: vertical;
   }
   .slides {
    height: 200px!important;
     resize: vertical;
   }
   
   .slides li div h3{
     font-size: 1.92em!important;
   }

}


@media (min-width:  200px) and (max-width: 450px) 
{

  .card.large 
  {
    height: 500px!important;
  }

  .tamaimagen{ 
      height: 200px!important; 
      padding-top: 1em;
      width: auto!important;
    }

  .slider {
    height: 220px!important;
     resize: vertical;
   }
   .slides {
    height: 200px!important;
     resize: vertical;
   }
   
   .slides li div h3{
     font-size: 1.92em!important;
   }

}