
html,
body {
  font-size: 20px;
  font-family: 'Oswald',sans-serif;
  height: 100%;
}

#fondo {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
}

#seccionlocal{
  z-index: -1;
  padding-top: 5em;
}

/* --------------------------------------------------------*/
.footer {

  font-family: 'Oswald',sans-serif;
  background-color: #ef9a9a ;
}

.footer > div.container {
  padding: 30px;
}
.pie{

  font-family: 'Oswald',sans-serif;
  font-size: 18px;

  color: rgb(51, 51, 37);
  padding-bottom: 1em;
}
.pieredes{

  font-family: 'Oswald',sans-serif;
  font-size: 18px;

  color: rgb(1, 120, 156);
  padding-bottom: 1em;
}
p{
  font-family: 'Oswald',sans-serif;
  font-size: 18px;
}

.textobotonextras{
  font-size: 13px;
}

.extradescripcion{
  font-size: 70%;
}

#nombre,#apellido,#email,#celular{
  font-size: 18px;
  color: rgb(131, 203, 224);
}
.menu{
  background-color:#fdd835 ;
  height: 85px;
}
#listamenu { 
  background-color:#fdd835 ;  
  width: 100%; 
}
#listamenuderecha{
  background-color:#fdd835 ;  
  width: 50%;

}
.navbar-nav{
  /* background-color:#e57373 ; */
  background-color:#fdd835 ;
  

}
.material-icons
{
  display: inline!important;
}
a.nav-link {
  color: rgb(71, 71, 71);
  text-align: right;
  background-color:#fdd835 ;
}

.claseseccionnovedades{
  background-color: #ffffffce!important;
}

.row{
  margin-bottom: 0em!important;
}
.contacto{
  color: #d3d3d3;
  font-size: 20px;
  
}
.contactoplaceholder{
  color: #d3d3d3;
  font-size: 18px;

}

#menuofertas,#menucontacto, #menunegocio, #menuubicacion,#menuanuncios,#menuproductos{
  color: rgb(0, 0, 0);
}
#menuofertas:hover,#menucontacto:hover, #menuubicacion:hover,#menuanuncios:hover,#menuproductos:hover{
  
  color: #880e4f;
  background-color: white;
}

ul li.nav-item.active{
  background-color: #d8fd35 ;
  /* color: white; */
}
#telefono{
  color:#400909!important;
}

#menunegocio{
  font-size: 20px;
  color: rgb(66, 7, 51);
  margin-right: 30px;
}
#listamenu{
  width: 100%;
}


#seccionfotoslocal{
  background-color: white;
}


#seccionlocal{
  
  z-index: -1;

}

#seccioncontenidos{
  opacity: 0;
  z-index: -1;
}


#seccionutilidad{
  background-color: white;

}
.seccioncategoria{
  padding: 1em;
  background-color: white;
  opacity: 0.95;

}
#subcontenedorcontacto{

  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  background-color:   rgb(104, 136, 168);
}

#seccioncontacto{

  opacity: 95%;
}
#seccionubicacion{
    margin-top: 30px;
}

#seccionubicacion>h5{
  color: #2E2E2E;
}


hr{
  border-color: #ABA262;
}

/* ---------- configuracion de las cartas -----------------*/
.card-text{
  color:#424242;
  size: 16px;
}
.card{
  background-color: white;
  color:#424242;
  size: 16px;
}
.carta{
  color:#686c4b;
}
.card-body{
  background-color: #e8f5e9    ;
  padding: 1rem;
}

.card-title{
  color: #086A87;
}

.describir{
  background-color:#086A87; 
  color: white;
}
.describir:hover{
  background-color:grey;
  color: white;
}


.navbar {
    width: 100%;

  }
.nav {
    width: 100%;
    

  }



/* ------------------------------------------ configuracion secciones ---------------------------------*/

.ladoderecho{
  padding-right: 1em; 
}

.ladoizquierdo{
  padding-left: 1em; 
}

/* ----------------------------------------- configuracion del slider ------------------------------- */
.slidecontainer {
  width: 100%;
  /* padding-top: 2em; */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}



@media (max-width: 2000px) {

  #seccioncontenidos{
    height: 22em!important;
 
  }
}


@media (max-width:  768px) {
 
  #seccioncontenidos{
  height: 13em;
 
  }
  #my-nav{
  background-color: aliceblue;
 
  }

  #listamenuderecha
  {
    background-color:#fdd835 ;  
    width: 100%!important;
  }
}

@media (min-width:  300px) and (max-width: 575px) { 

  #listamenuderecha{
    background-color:#fdd835 ;  
    width: 100%!important;

  }
  #fondo{
    visibility: hidden;
  }
  #seccioncontenidos{
  height: 6em;
 
  }
  #my-nav{
  background-color: aliceblue;
 
}